<div class="navbar">
  <div class="navbar-logo">
    <img
      src="assets/icons/CEZAR_LOGO.png"
      alt="logo"
      class="logo"
      (click)="scrollToSection('inicio')"
    />
  </div>
  <ul class="navbar-menu">
    <li><a (click)="scrollToSection('inicio')">Início</a></li>
    <li><a (click)="scrollToSection('sobre')">Sobre</a></li>
    <li><a (click)="scrollToSection('servicos')">Serviços</a></li>
    <li><a (click)="scrollToSection('portfolio')">Portfolio</a></li>
    <li><a (click)="scrollToSection('equipe')">Equipe</a></li>
    <li><a (click)="scrollToSection('contato')">Contato</a></li>
  </ul>
</div>
