<app-navbar></app-navbar>

<app-home id="inicio"></app-home>

<app-about id="sobre"></app-about>

<app-services id="servicos" class="section-sobre"></app-services>

<app-portfolio id="portfolio" class="section-sobre"></app-portfolio>

<app-team id="equipe" class="section-sobre"></app-team>

<app-contact id="contato" class="section-sobre"></app-contact>

<app-footer></app-footer>

<a
  *ngIf="isVisible"
  class="back-to-top"
  (click)="scrollToTop()"
  aria-label="Back To Top"
>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Ionicons_chevron-up-sharp.svg"
    alt="Chevron"
  />
</a>

<a
  href="https://wa.me/5592992969909"
  target="_blank"
  class="whatsapp-button"
  aria-label="Contact Us On WhatsApp"
>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
    alt="WhatsApp"
  />
</a>
