<div class="footer">
  <div class="container-footer">
    <div class="footer-logo">
      <img src="assets/icons/CEZAR_LOGO.png" alt="Cezar Construções" />
    </div>
    <div class="footer-menu">
      <nav class="footer-nav">
        <ul>
          <li><a (click)="scrollToSection('inicio')">Início</a></li>
          <li><a (click)="scrollToSection('sobre')">Sobre</a></li>
          <li><a (click)="scrollToSection('servicos')">Serviços</a></li>
          <li><a (click)="scrollToSection('portfolio')">Portfolio</a></li>
          <li><a (click)="scrollToSection('equipe')">Equipe</a></li>
          <li><a (click)="scrollToSection('contato')">Contato</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-social">
      <ul>
        <li><a href="#" class="insta"><i class="icon-instagram"></i>@cezar_construc</a></li>
        <li><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-credits">
    <p>&copy; 2024 Todos os direitos reservados.</p>
    <p>Desenvolvido por M&R inc.</p>
  </div>
</div>
